.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border-top: 2px solid rebeccapurple;
  box-shadow: 0 -6px 4px rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}