.collapse-parent {
  padding-bottom: 3rem;
  &.collapsed {
    padding-bottom: 0;
  }

  .MuiCollapse-wrapperInner .collapse-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 1rem;

    > .resume-section {
      width: calc(50% - 1rem);
      min-width: 300px;

      .MuiCardContent-root {
        padding: 1rem 2rem 0;
      }
    }

    @media (max-width: 720px) {
      justify-content: center;

      > .resume-section {
        width: 80%;
      }
    }
  }
}
