.collapse-parent {
  padding: 0 0 3rem 2rem;
  &.collapsed {
    padding-bottom: 0;
  }

  .MuiCollapse-wrapperInner .collapse-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
