#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;

  .app {
    display: flex;
    flex-direction: column;

    > #navbar, #footer {
      flex: 0 0 100px;
    }

    > .content {
      flex: 0 0 calc(100vh - 200px - 4em);
    }
  }
}